<div class="form-div">
<h3 class="text-center header-text-sm">LOGIN</h3>
<%= form_for @user, url: "/sessions", method:"post" do |f| %>
  <div class="form-group"> 	
  	<span class="instructional-text-md">Email</span>
  	<br>
    <%= f.text_field :email, required: true %>
  </div>
  <div class="form-group">
  	<span class="instructional-text-md">Password</span>
  	<br>
    <%= f.password_field :password, required: true %>
  </div>
  <%= f.submit "Log In", class: "btn btn-default btn-lg" %>
  <br>
  <br>
  <p class="instructional-text-sm">New to SiteName? <a href="/users/new" class="signup-link">Sign up here</a>.</p>
<% end %> 
</div>