<div id="about-page-div">
	<h1 class="jumbo-header"><b>Did you know?</b></h1>
	<div class="about-blurbs-div header-text-sm"
	<ul id="about-blurbs-ul">
	<li class="food-fact">Getting food to our tables eats up <b>10%</b> of the total U.S. energy budget, uses <b>50%</b> of U.S. land,and swallows <b>80%</b> of freshwater consumed in the United States.</li>
	<li class="food-fact">Yet in the U.S., <b>20 lb.</b> of edible food per person, per month goes uneaten.</li>
	<li class="food-fact">Moreover, almost all of that uneaten food ends up rotting in landfills where organic matter accounts for <b>16%</b> of U.S. methane emissions.</li>
	<li class="food-fact">And while <b>1 in 6</b> people in America face hunger...</li>
	<li class="food-fact header-text-md"><b>20% of the produce grown in the U.S. is rejected from grocery stores because it has a funny shape or size.</b></li>
	</ul>
	</div>
</div>
<img src="/assets/rowfruit1.png" class="bottom-row-image">