<div id="faq-page-div">
	<h1 class="jumbo-header"><b>FAQ</b></h1>
	<ul id="faq-ul">
		<li class="faq-question header-text-sm">
		How do I search for produce in my area?
		</li>
		<li class="faq-answer instructional-text-lg">Sign up as a user to begin browsing produce listings in minutes! Once you create a profile and log in, you can search produce listings by owner username, city, and category of produce.
		</li>
		<li class="faq-question header-text-sm">
		How do I create a produce listing?
		</li>
		<li class="faq-answer instructional-text-lg">Sign up as a user and click "Manage My Listings" to create a produce listing. Upload a photo of your produce, add a description of your donation, and specify pick-up location/contact details in your listing.
		</li>
		<li class="faq-question header-text-sm">
		Can I create a "produce wanted" listing?
		</li>
		<li class="faq-answer instructional-text-lg">As of right now users can only create listings for produce they want to donate. They cannot create listings asking for produce donations.
		</li>
		<li class="faq-question header-text-sm">
		What will my produce cost? How much money can I expect to make by listing my available produce?
		</li>
		<li class="faq-answer instructional-text-lg">SiteName just connects produce suppliers with interested parties. Our hope is that listing owners will not charge money for their donations, and in return, interested parties will pick up produce to help offset owner waste-management costs. 
		</li>
		<li class="faq-question header-text-sm">
		How do I get in contact with someone about their listing?
		</li>
		<li class="faq-answer instructional-text-lg">Navigate to a listing's page to see the owner's contact details and their preferred method of contact!
		</li>
		<li class="faq-question header-text-sm">
		How do I know where to pick up my produce? Can I have it delivered?
		</li>
		<li class="faq-answer instructional-text-lg">
		Contact the owner of the listing you're interested in to negotiate pick-up/delivery details.
		</li>
		<li class="faq-question header-text-sm">
		Can I create a listing for produce that isn't "imperfect"? Can I create a listing for spoiled produce (so it may be used for compost)?
		</li>
		<li class="faq-answer instructional-text-lg">Any and all produce donations are appreciated! If you are listing older or spoiled produce, please explicitly label it as compost materials in your listing title.
		</li>
		<li class="faq-question header-text-sm">Where can I learn more about produce waste?</li>
		<li class="faq-answer instructional-text-lg">
			<ul id="faq-links-ul">
				<li>
				<a href="http://www.nytimes.com/2015/11/24/us/getting-ugly-produce-onto-tables-so-they-stay-out-of-trash.html?_r=0" class="faq-link">NYT-Getting Ugly Produce Onto Tables So It Stays Out of Trash</a>
				</li>
				<li>
				<a href="https://www.nrdc.org/food/files/wasted-food-ip.pdf" class="faq-link">Wasted: How America Is Losing Up to 40
				Percent of Its Food from Farm to Fork to Landfill</a>
				</li>
				<li>
				<a href="https://www.change.org/p/whole-foods-and-walmart-stop-contributing-to-massive-food-waste-in-the-us-48d63891-457f-4496-98d7-8b6daa1ee125?recruiter=341562939&utm_campaign=signature_receipt&utm_medium=email&utm_source=share_petition" class="faq-link">What the Fork Are You Doing With Your Produce, Walmart and Whole Foods?</a>
				</li>
				<li>
				<a href="http://www.worldfooddayusa.org/food_waste_the_facts" class="faq-link">Food Waste: The Facts</a>
				</li>
				<li>
				<a href="http://www.imperfectproduce.com/#home" class="faq-link">Imperfect Produce--Ugly Produce. Delivered.</a>
				</li>
				<li>
				<a href="https://www.instagram.com/uglyfruitandveg/?hl=en" class="faq-link">The UglyFruitAndVeg Instagram Feed</a>
				</li>
				<li>
				<a href="http://www.endfoodwaste.org/ugly-fruit---veg.html" class="faq-link">EndFoodWaste.org</a>
				</li>
			</ul>
		</li>
	</ul>
</div>
<img src="/assets/rowfruit2.png" class="bottom-row-image">