<div id="jumbo-image-div">
	<div id="homepage-text">
		<h1 class="jumbo-header"><b>Ugly Is Beautiful.</b></h1>
		<p class="jumbo-subheader">getting ugly produce onto hungry people's plates</p>
		<% if current_user %>
			<%= button_to "Browse Produce", "/search", method: "get", class: "btn btn-default btn-lg", id: "lemon-button"%>
		<% else %>
			<%= button_to "Sign Up", "/users/new", method: "get", class: "btn btn-default btn-lg", id: "lemon-button" %>
		<% end %>
	</div>
	<img src="/assets/uglylemon.png" id="jumbo-image">
</div>





