@import "variables";

.jumbo-header {
	font-size: 60px;
	font-family: $main-font;
}

.jumbo-subheader {
	font-size: 35px;
	font-family: $main-font;
}

.header-text-lg {
	font-size: 30px;
	font-family: $main-font;
}

.header-text-md {
	font-size: 28px;
	font-family: $main-font;
}

.header-text-sm {
	font-size: 24px;
	font-family: $main-font;
}

.instructional-text-lg {
	font-size: 18px;
	font-family: $main-font;
}

.instructional-text-md {
	font-size: 16px;
	font-family: $main-font;
}

.instructional-text-sm {
	font-size: 14px;
	font-family: $main-font;
}



