// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "partials/variables";


//Homepage CSS

#jumbo-image-div {
	position: relative;
	text-align: center;
	width: 100%;

	#jumbo-image {
		z-index: 0;
		width: 50%;
		-webkit-filter: grayscale(20%); 
    	filter: grayscale(20%);
	}

	#homepage-text {
		width: 100%;
		position: absolute;
		top: 30%;
		color: black;
		z-index: 2;
		margin: 0 auto;

		&:hover + #jumbo-image {
    	-webkit-filter: saturate(150%); 
    	filter: saturate(150%);
		}
	}
}

#lemon-button {
	opacity: 0.6;

	&:hover {
		opacity: 0.9;
	}
}

//About and FAQ CSS

#about-page-div {
	margin: 40px 30px;

	#about-blurbs-ul {
		list-style: none;

		.food-fact {
			margin: 9px 0px;
		}
	}
}

.bottom-row-image {
	width: 100%;
	margin: 0 auto;
}

#faq-page-div{
	margin: 40px 30px;

	#faq-ul{
		list-style: none;

		.faq-question {
			font-weight: bold;
			margin-top: 10px;
		}
		.faq-answer {
			margin-left: 30px;

			#faq-links-ul {
				list-style: none;

				.faq-link {
					color: black;
					margin: -40px;
				}
			}
		}
	}
}