// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "partials/variables";

//Listing Show Page CSS

a {
	color: black;
	&:hover {
		color: $lemon;
	}
}

.btn {
	&:hover {
		background-color: $lemon;
	}
}
.listing-image:hover {
    -webkit-filter: saturate(120%); 
    filter: saturate(120%);
}
.listing-showpage {
	position: relative;
	width: 100%;

	#listing-showpage-buttons {
		width: 100%;
		margin: 0 auto;

		.left-button {
			float: left;
			padding: 10px;
		}
		.right-button {
			float: left;
			padding: 10px;
		}
	}

	.showpage-listing-details {
		position: relative;
		clear: left;
		margin-top: 30px;

		.showpage-listing-pic {
			margin: 15px;
			float: left;
		}
		.showpage-listing-details-text {
			width: 400px;
			margin: 15px;
			float: left;
		}
	}

	.listing-pickup-details {
		position: relative;
		clear: left;
		margin-left: 15px;
		margin-top: 15px;

		.owner-details-text {
			margin: 15px;
			float: left;
			width: 300px;
		}
		.owner-profile-pic {
			margin: 15px;
			float: left;
		}	
	}
}

//MyListings CSS

#mylistings-div {
	position: relative;
	width: 100%;
	font-family: $main-font;

	#button-div{
		text-align: center;

		#add-listing-button {
			width: 300px;
		}
	}

	.all-of-mylistings-div {
		padding-left: 30px;
	}

	.mylistings-listing-details {
		clear: left;

		.mylistings-listing-pic {
			float: left;
			margin: 15px;
		}

		.mylistings-listing-details-text {
			float: left;
			margin: 15px;
		}
		.mylistings-edit-buttons {
			clear: left;
		}
	}
}


//Edit and New Listing Forms CSS

.listing-form-div {
	position: relative;
	margin-left: 40px;
	font-family: $main-font;


	.new_listing {

		#listing_title {
			width: 400px;
		}
		#listing_produce_category {
			border: none;
		}
		#listing_quantity {
			width: 400px;
			height: 80px;
			font-family: $main-font;
		}
		#listing_description {
			width: 400px;
			height: 80px;
			font-family: $main-font;		
		}
		#listing_address_line1 {
			width: 400px;
		}
		#listing_address_line2 {
			width: 400px;
		}
		#listing_city {
			width: 400px;
		}
		#listing_state {
			width: 400px;
		}
		#listing_zip {
			width: 400px;
		}
		#listing_phone {
			width: 400px;
		}
	}
	#create-listing-button {
		width: 300px;
		margin: 0 auto;
	}

}

.listing-form-div {
	position: relative;
	margin-left: 40px;
	font-family: $main-font;


	.edit_listing {

		#listing_title {
			width: 400px;
		}
		#listing_produce_category {
			border: none;
		}
		#listing_quantity {
			width: 400px;
			height: 80px;
			font-family: $main-font;
		}
		#listing_description {
			width: 400px;
			height: 80px;
			font-family: $main-font;		
		}
		#listing_address_line1 {
			width: 400px;
		}
		#listing_address_line2 {
			width: 400px;
		}
		#listing_city {
			width: 400px;
		}
		#listing_state {
			width: 400px;
		}
		#listing_zip {
			width: 400px;
		}
		#listing_phone {
			width: 400px;
		}

		#edit-listing-button {
			width: 300px;
		}
	}

	#delete-listing-button {
		width: 300px;
	}

}