/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

@import "partials/variables";

.container {
	position: relative;
}

.sidebar {
	position: fixed;
	text-align: center;
	font-family: $main-font;
	border-right: 1px gray solid;
	height: 100%;
	width: 310px;

	.sidebar-search-by-city {
		margin-top: 200px;	

		select {
			font: $main-font;
			border: 0;

			option {
				font-style: $main-font;
				font-size: 20px;
			}
		}
	}

	.sidebar-search-by-produce-category {
		select {
			font: $main-font;
			border: 0;
		}
	}


}

.search-results-div {
	margin-left: 350px;
	position: relative;
	width: 1000px;

	.search-result-header {
		text-align: center;
		position: relative; 
		margin-top: 50px;


		#no-results {
			height: 300px;
			margin-top: 20px;
		}
	}
	.search-result-div	{
		margin-left: 20px;
		text-align: middle;
		position: relative;
		vertical-align: middle;

		.search-result-pic {
			float: left;
			clear: left;
			margin-bottom: 20px;
			width: 300px;
		}
		.search-result-text {
			float:left;
			margin-left: 20px;
			max-width: 360px;
		}
	}
}



@media (max-width: 991px) {
  	.sidebar {
	  	background-color: white;
	  	border: none;
	  	position: static;
	  	margin: 0 auto;

	  	.sidebar-search-by-city {
	  		margin-top: 20px;
	  	}
	}
	.search-results-div {
		margin-left: 0px;
		margin: 0 auto;
	
	}
}