<nav class="navbar navbar-default" id="transparent">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">SiteName</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/home/about">About</a></li>
      <li><a href="/home/faq">FAQ</a></li>
      <li><a href="/sign_in">Sign In</a></li> 
    </ul>
  </div>
</nav>