<div class="sidebar">

	<div class="sidebar-search-by-city">
		<p class="instructional-text">Search by City</p>
		
	</div>
	<div class="sidebar-search-by-category">	
		<p class="instructional-text">Search by Category</p>
		<%= select_tag "Category", options_from_collection_for_select(Listing.all, "id", "category") %>
	</div>
</div>