<div class="sidebar col-md-4">
	  <%= form_tag(search_path, :method => "get") do %>
		<div class="sidebar-search-by-city">
			<p class="instructional-text-lg">Search by City</p>
			<%= select_tag "Cities", options_for_select(@cities.sort), include_blank: "All" %>
		</div>
		<br>
		<div class="sidebar-search-by-produce-category">	
			<p class="instructional-text-lg">Search by Category</p>
			<%= select_tag "Category", options_for_select(@produce_categories.sort), include_blank: "All"  %>
		</div>
		<br>
	<%= button_to "Search", "/search/show", method: "get", class: "btn btn-default" %>
	<% end %>
</div>